* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

/* 设置滚动条的宽度和背景色 */
::-webkit-scrollbar {
    width: 8px;
    background-color: #2c2c2c;
}

/* 设置滚动条的滑块颜色和形状 */
::-webkit-scrollbar-thumb {
    background-color: #ffffff50;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #ffffff80;
}